<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schoolbox API</title>
</head>
<body>
    <h1 class="banner">Bem vindo ao Schoolbox API</h1>
    <p></p>
    <br></br>
    <h3>Para testar o CRUD da API utilizando o <strong>swagger</strong>, utilize a seguinte URI:</h3>
    <p><a href="http://localhost:5000/api/ui/#/Student" target="_blank"><strong>http://localhost:5000/api/ui/#/Student</strong></p></a>
    <p></p>
    <br></br>
    <h3>Para testar o CRUD da API utilizando curl ou qualquer outra request tool, utilize a seguinte URI:</h3>
    <p><a href="http://localhost:5000/api/student" target="_blank"><strong>http://localhost:5000/api/student</strong></p></a>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <p>Autor: Emerson Barros</p>
    <p>URL do Reposit&oacute;rio: <a href="https://github.com/ebarros29/schoolbox-api" target="_blank">https://github.com/ebarros29/schoolbox-api</a></p>
    <p></p>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <footer align="center">
        <p>Schoolbox API v1.0 @ 2020<br>
    </footer>
</body>
</html>